# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test & cache
.pytest_cache/
.coverage
htmlcov/

# Migrations cache (optional)
**/migrations/__pycache__/
